@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ECECEC;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header.logo
{
    position: relative;
    max-width: 80px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li
{
    list-style: none;

}

.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
 .content .imgBox
 {
    display: flex;
width: 559px;
height: 550px;
justify-content: center;
align-items: center;
flex-shrink: 0;
 }

.content .textBox 
{
    position: relative;
    max-width: 700px;
}
.content .textBox h2
{
    color: #333;
    font-size: 3.5em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textBox h2 span
{
    color: #ff3f45;
    font-size: 1.2em;
    font-weight: 900;
}
.content .textBox p
{
    color: #333;
    font-size: 1.2em;
}

.content .textBox a
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #ff3f45;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

button{
    background-color: #ff3f45;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}
